article:nth-child(odd) p img{
    float: left;
    margin-right: 10px;
}

article:nth-child(even) p img{
    float: right;
    margin-left: 10px;
}

p{
    font-size: 1.25em;
}

article{
    margin: 10px;
    border: 1px solid black;
    height: 230px;
    padding: 10px;
}

h2{
    margin-top: 0;
}