h1 {
    color: darkcyan;
    text-align: center;
}

body {
    font-family: sans-serif;
    margin: 0 auto;
    width: 1800px;
    background-color: black;
}

li {
    color: white;
    list-style: url("../images/icons8-star-16.png");
    list-style-position: inside;
}

.personal {
    width: 600px;
    float: left;
    text-align: center;
}

.hobbies {
    width: 600px;
    float: left;
    text-align: center;
}

.likes {
    width: 600px;
    float: right;
    text-align: center;
}

h2 {
    color: purple;
}

a {
    color: white;
}

.location {
    background-image: url("../images/download (3).png");
    background-size: 15px, 15px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.phone {
    background-image: url("../images/download (2).png");
    background-size: 15px, 15px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.mail {
    background-image: url("../images/download.png");
    background-size: 15px, 15px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

li img {
    margin-top: 15px;
    margin-bottom: 25px;
}

