table {
    border: 2px solid black;
    border-collapse: collapse;
}


th, td {
    border: thin dotted;
}

.othermonth {
    background-color: lightgrey;
    color: grey;
}

.day {
    background-color: rgb(35, 37, 70);
    color: rgb(200, 190, 240);
}

th {
    background-color: rgb(170, 170, 200);
}

table tr:not(.day) td:first-child:not(.othermonth), table tr:not(.day) td:last-child:not(.day, .othermonth) {
    background-color: rgb(255, 220, 220);
}

.vrijedag {
    background-color: rgb(250, 120, 120);
}