body {
    width: 1200px;
    margin: 0 auto;
    font-family: sans-serif ;
}

section > header {
    background-image: url("../image/header.jpg");
    background-size: cover;
    color: white;
    font-size: 25px;
    height: 100px;
    padding-left: 10px;
}

nav {
    background-color: #444444;
    color: black;
    padding-left: 5px;
    font-size: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav > a {
    color: #54fa8f;
    text-decoration: none;
    font-weight: bold;
}

article {
    background-color: #eeeeee;
    font-size: 10px;
    margin: 5px;
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 5px;
}

article header {
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
    color: #434441;
    padding-bottom: 20px;
}

article h1 {
    margin: 0 0;
}

footer {
    font-size: 10px;
}

