body {
    width: 95%;
    text-align:  center;
    font-family: Verdana Helvetica Arial sans-serif;
    font-size: 1.2em;
}

div{
    display: flex;
    flex-direction: row-reverse;
}

h1, h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

footer {
    font-size: 50%;
}


.main {
    width: 70%;
    text-align: left;
}

.rest {
    width: 25%;
    border: 3px solid #007e7e;
    background-image: url("../images/cocktail.gif");
    background-size: 47px;
    background-repeat: repeat-x;
}

#guarantee{
    margin: 30px;
    padding: 20px;
    color: #444444;
    background-color: #a7cece;
    border: 1px dashed white;
    background: url("../images/background.gif");
    font-style: italic;
}

p>a{
    color: darkred;
}

.rest a{
    color: saddlebrown;
}

.h1{
    color: black;

}

.h2{
    color: darkred;
}

.cursief{
    font-style: italic;
}

.bold{
    font-weight: bold;
}


