body{
    width: 95%;
    align-content: center;
    font-family: Verdana Helvetica Arial;
    font-size: 1.2em;
}

.rest{
    display: inline-block;
    align-items: end;
    width: 25%;

}

.main{
    display: inline-block;
    width: 70%;
}

