h1 {
    color: darkcyan;
}

body {
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
    background-color: black;
    text-align: center;
}

li {
    color: white;
    list-style: url("../images/icons8-star-16.png");
    list-style-position: inside;
}

h2 {
    color: purple;
}

a {
    color: white;
}

.location {
    background-image: url("../images/download (3).png");
    background-size: 15px, 15px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.phone {
    background-image: url("../images/download (2).png");
    background-size: 15px, 15px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.mail {
    background-image: url("../images/download.png");
    background-size: 15px, 15px;
    background-repeat: no-repeat;
    padding-left: 20px;
}

li img {
    margin-top: 15px;
    margin-bottom: 25px;
}

